.container {
    width: 25%;
    text-align: center;
}

.corazon1 {
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    transform: rotate(-45deg);
    position: absolute;
    right: 10%;
    top: 45%;
    width: 50px;
}

.corazon2 {
    background-color: red;
    display: inline-block;
    height: 50px;
    margin: 0 10px;
    transform: rotate(-45deg);
    position: absolute;
    left: 10%;
    top: 45%;
    width: 50px;
}

.corazon1:before,
.corazon1:after,
.corazon2:after,
.corazon2:before {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}

.corazon1:before,
.corazon2:before {
    top: -25px;
    left: 0;
}

.corazon1:after,
.corazon2:after {
    left: 25px;
    top: 0;
}

@keyframes latido {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    20% {
        transform: scale(1.25) rotate(-45deg);
    }

    40% {
        transform: scale(1.5) rotate(-45deg);
    }
}

.corazon1,
.corazon2 {
    animation: latido 1s infinite;
}